:root {
    /* Color Scheme Labels */
    --primary-color: #F9FDFC;
    --secondary-color: #9EBACE;
    --accent1-color: #4B5354;
    --accent2-color: #EBC431;
    --font-color: #2E3334;
    --titles-background: rgba(235, 196, 49, 0.4);
    --article-background: rgba(3, 16, 61, 0.7);
    /* font variable Labels */
    --heading-font: 'Raleway', sans-serif;
    --text-font: 'Inter', sans-serif;
    --font-size-smaller: 14px;
    --font-size-medium: 18px;
    --font-size-larger: 40px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    scroll-behavior: smooth;
}

.logo{
    width: 130px;
    padding: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    font-family: var(--text-font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 .9rem;
}

.nav-listItem {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}

.link-listItem {
    color: var(--font-color);
    background-color: var(--accent2-color);
    padding: .6rem;
    border-radius: .5rem;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundImg {
    display: block;
    width: 100%;
    height: auto;
}

.title1 {
    font-family: var(--heading-font);
    color: var(--font-color);
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--titles-background);
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.article {
    position: absolute;
    top: 40%;
    background-color: var(--article-background);
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
         
}

.h4 {
    font-family: var(--text-font);
    color: var(--primary-color); 
    font-size: var(--font-size-medium);
    font-weight: 400; 
    width: 10%; 
    padding-left: 10px;
}

.introduction {
    font-family: var(--text-font);
    color: var(--primary-color); 
    font-size: var(--font-size-medium); 
    width: 60%; 
    text-align: left;
}

.articleImage {
    width: 30%;
    padding-left: 20px;
    margin: 20px;
}
.section1 {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.title {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: var(--font-size-larger);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 2);;
    display: block;
    text-align: center;
    padding: 30px;
}



.history {
    font-family: var(--text-font);
    color: var(--font-color); 
    font-size: var(--font-size-medium); 
    text-align: justify;
    padding: 10px;
}

.section2 {
    text-align: center;
}

.tripImg {
    width: 500px;
    padding-bottom: 0px;
    padding-top: 20px;
}

h4 {
    font-family: var(--text-font);
    color: var(--font-color); 
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-bold);
    padding-bottom: 20px;
}

footer {
    text-align: center;
    padding-top: 2px;
    border-top: 1px solid var(--accent1-color);
}

.socialLinks {
    display: flex;
    justify-content: end;
    padding: 20px;
}
